.carouselText {
  color: #0382c7;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 60px;
  max-width: 600px;
  width: 100%;
  padding-top: 100px;
}

.carouselDesc {
  color: #484a47;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 25px;
  font-family: 100;
  max-width: 600px;
  width: 100%;
}

.carouselBlock {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carouselBlockOneImg {
  background-image: url("../../assets/carouselmain.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.carouselBlockTwoImg {
  background-image: url("../../assets/carouselmain2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  background-position-y: 40px;
}

.aboutButton {
  width: 100px;
}

.carouselBlockItemTwo {
}

@media (max-width: 1302px) {
  .carouselBlockItemOne {
    display: none;
  }
  .carouselBlockItemTwo {
    display: none;
  }
}

@media (max-width: 720px) {
  .carouselText {
    padding-top: 50px;
  }
}

@media (max-width: 595px) {
  .carouselText {
    padding-top: 0;
  }
}

@media (max-width: 591px) {
  .carouselText {
    font-size: 30px;
  }
  .carouselDesc {
    font-size: 20px;
  }
  .carouselMain {
    max-height: 400px;
  }
  .aboutButton {
    margin-top: 5px !important;
  }
  .contactButton {
    margin-top: 5px !important;
  }
}

@media (max-width: 407px) {
  .carouselBlock {
    padding-top: 50px;
  }
}

@media (max-width: 395px) {
  .carouselBlock {
    padding-top: 20px;
  }
}

@media (max-width: 395px) {
  .carouselDesc {
    display: none;
  }
  .carouselBlock {
    padding-top: 120px;
  }
  .aboutButton {
    margin-top: 10px !important;
  }
  .contactButton {
    margin-top: 10px !important;
  }
}
